In [144]:
import dask.dataframe as dd
import boto3
import os 
s3 = boto3.resource('s3', aws_access_key_id = os.environ['ACCESS'], aws_secret_access_key=os.environ['SECRET'])
my_bucket = s3.Bucket('sar-store')


paths = ["s3://" + object.bucket_name + '/' + object.key for object in my_bucket.objects.filter(Prefix='plates/')]
paths[1:]

['s3://sar-store/plates/xaa.csv',
 's3://sar-store/plates/xab1.csv',
 's3://sar-store/plates/xac2.csv',
 's3://sar-store/plates/xad.csv',
 's3://sar-store/plates/xae.csv',
 's3://sar-store/plates/xaf.csv',
 's3://sar-store/plates/xag.csv',
 's3://sar-store/plates/xah.csv',
 's3://sar-store/plates/xai.csv',
 's3://sar-store/plates/xaj.csv',
 's3://sar-store/plates/xak.csv',
 's3://sar-store/plates/xal.csv',
 's3://sar-store/plates/xam.csv',
 's3://sar-store/plates/xan.csv',
 's3://sar-store/plates/xao.csv',
 's3://sar-store/plates/xap.csv',
 's3://sar-store/plates/xaq.csv',
 's3://sar-store/plates/xar.csv',
 's3://sar-store/plates/xas.csv',
 's3://sar-store/plates/xat.csv',
 's3://sar-store/plates/xau.csv',
 's3://sar-store/plates/xav.csv',
 's3://sar-store/plates/xaw.csv',
 's3://sar-store/plates/xax.csv',
 's3://sar-store/plates/xay.csv',
 's3://sar-store/plates/xaz.csv',
 's3://sar-store/plates/xba.csv',
 's3://sar-store/plates/xbb.csv',
 's3://sar-store/plates/xbc.csv',
 's3://sar-store/plates/xbd.csv',
 's3://sar-store/plates/xbe.csv',
 's3://sar-store/plates/xbf.csv',
 's3://sar-store/plates/xbg.csv',
 's3://sar-store/plates/xbh.csv',
 's3://sar-store/plates/xbi.csv',
 's3://sar-store/plates/xbj.csv',
 's3://sar-store/plates/xbk.csv',
 's3://sar-store/plates/xbl.csv',
 's3://sar-store/plates/xbm.csv',
 's3://sar-store/plates/xbn.csv',
 's3://sar-store/plates/xbo.csv',
 's3://sar-store/plates/xbp.csv',
 's3://sar-store/plates/xbq.csv',
 's3://sar-store/plates/xbr.csv',
 's3://sar-store/plates/xbs.csv',
 's3://sar-store/plates/xbt.csv',
 's3://sar-store/plates/xbu.csv',
 's3://sar-store/plates/xbv.csv',
 's3://sar-store/plates/xbw.csv',
 's3://sar-store/plates/xbx.csv',
 's3://sar-store/plates/xby.csv',
 's3://sar-store/plates/xbz.csv',
 's3://sar-store/plates/xca.csv',
 's3://sar-store/plates/xcb.csv',
 's3://sar-store/plates/xcc.csv',
 's3://sar-store/plates/xcd.csv',
 's3://sar-store/plates/xce.csv',
 's3://sar-store/plates/xcf.csv']

In [145]:
df = dd.read_csv(paths[1:], storage_options={'anon': True}, header=None, names=col_names)

In [149]:
df.drop_duplicates(inplace=True)

Dask DataFrame Structure:
                Plate   State License Type Summons Number Issue Date Violation Time Violation Judgment Entry Date Fine Amount Penalty Amount Interest Amount Reduction Amount Payment Amount Amount Due Precinct  County Issuing Agency Violation Status Summons Image
npartitions=1
               object  object       object         object     object         object    object              object      object         object          object           object         object     object   object  object         object           object        object
                  ...     ...          ...            ...        ...            ...       ...                 ...         ...            ...             ...              ...            ...        ...      ...     ...            ...              ...           ...
Dask Name: drop-duplicates-agg, 706 tasks

In [150]:
len(df)

/opt/conda/lib/python3.6/site-packages/dask/local.py:290: DtypeWarning: Columns (3,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  result = _execute_task(task, data)
/opt/conda/lib/python3.6/site-packages/dask/local.py:290: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  result = _execute_task(task, data)

28672114

In [155]:
types = df.groupby(['License Type'])['Summons Number'].count().compute()

/opt/conda/lib/python3.6/site-packages/dask/local.py:290: DtypeWarning: Columns (3,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  result = _execute_task(task, data)
/opt/conda/lib/python3.6/site-packages/dask/local.py:290: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  result = _execute_task(task, data)

In [158]:
types.sort_values(ascending=False).head(10)

License Type
PAS    22044794
COM     3856556
OMT     1226341
OMS      356053
SRF      238725
999      210110
IRP      129519
MOT       76441
APP       72458
TRC       62415
Name: Summons Number, dtype: int64

In [159]:
vanities = df[df['License Type'] == 'SRF'].groupby('Plate')['Summons Number'].count().compute()

/opt/conda/lib/python3.6/site-packages/dask/local.py:290: DtypeWarning: Columns (3,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  result = _execute_task(task, data)
/opt/conda/lib/python3.6/site-packages/dask/local.py:290: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  result = _execute_task(task, data)

In [ ]:
summons_per_plate = df.groupby(['Plate', 'License Type'])['Summons Number'].count().compute()

/opt/conda/lib/python3.6/site-packages/dask/local.py:290: DtypeWarning: Columns (3,8,9,10,11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  result = _execute_task(task, data)
/opt/conda/lib/python3.6/site-packages/dask/local.py:290: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  result = _execute_task(task, data)